:root {
  --default-font: "Quicksand", sans-serif;
  --title-font: "Comfortaa", cursive;
  --brand-color: #61d433;
  --back-color: rgba(238, 234, 234, 0.577);
  --border-color: rgb(97, 212, 51, 0.2);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--title-font);
}
p {
  font-size: 18px;
  font-family: var(--default-font);
  font-weight: 600;
  margin: 5px 10px;
}

.hero {
  text-align: center;
  padding: 120px 10px;
  line-height: 2;
}

.hero p {
  font-size: 18px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.pageButton {
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 20px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: var(--default-font);
  font-weight: bold;
}

.pageButton:hover {
  background-color: var(--brand-color);
  border-color: none;
}
.subHero {
  background-color: var(--back-color);
  padding: 80px;
}

h3,
h2 {
  font-family: var(--title-font);
  font-weight: bolder;
}
.portfolioHome h2 {
  font-family: var(--title-font);
  font-size: 40px;
  font-weight: bold;
  color: var(--brand-color);
}
.projectDescription {
  margin: 10px 30px;
}
h4 {
  font-family: var(--title-font);
}
.projectDescription h6 {
  font-family: var(--title-font);
  font-weight: 400;
}
.detailedPargraph {
  font-family: var(--default-font);
  font-weight: normal;
  margin: 0px;
}
.learnMore {
  text-decoration: underline;
  color: black;
  line-height: 4;
}
@media (max-width: 768px) {
  h1 {
    font-size: 65px;
  }

  img {
    max-width: 80px;
  }
  h3 {
    text-align: center;
  }
  .projectDescription {
    margin: 10px 5px;
  }
  .blogHome p {
    text-align: center;
  }
  .listTags {
    text-align: center;
    font-size: 16px;
  }
  .projectPallett {
    margin: 2px 10px;
  }
  .blogMainTitle {
    margin-top: 10px;
    margin-left: 5px;
  }
  .blogPost h3 {
    text-align: left;
    margin-left: 5px;
  }
  .blogPost ul {
    text-align: left;
    margin-left: 5px;
  }
}
.blogHome {
  background-color: var(--back-color);
}

.blogHome p {
  font-size: 50px;
  margin-left: 0px;
  color: var(--brand-color);
}
.blogHome h5,
h6 {
  font-family: var(--title-font);
}

.buttonMeet {
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 0px;
  font-family: var(--default-font);
  font-weight: bolder;
  background-color: black;
  color: white;
  width: 250px;
}
.buttonMeetForm {
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 0px;
  font-family: var(--default-font);
  font-weight: bolder;
  background-color: var(--brand-color);
  color: black;
  width: 250px;
}
.contactImage {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.license {
  font-size: 12px;
  opacity: 0.5;
  font-family: var(--default-font);
  color: gray;
}
.listTags {
  list-style-type: none;
  font-family: var(--default-font);
  padding-left: 0;
  font-size: 18px;
}
.projectPallett {
  max-width: 1000px;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.buttonCourse {
  padding: 10px 100px;
  max-width: 500px;
  border: solid 1px var(--brand-color);
  border-radius: 6px;
  background-color: var(--brand-color);
  color: black;
}
.learnMoreBlog {
  text-decoration: underline;
  color: var(--brand-color);
}
.blogMainTitle {
  color: var(--brand-color);
  font-style: italic;
}
.blogCard {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}
.summary {
  font-size: 14px;
}
.lessonNumber {
  background-color: var(--back-color);
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
.profileLink {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  color: black;
  font-family: var(--default-font);
}
.profileLink:hover {
  color: var(--brand-color);
}
