:root {
  --default-font: "Quicksand", sans-serif;
  --title-font: "Comfortaa", cursive;
  --brand-color: #61d433;
  --back-color: rgba(238, 234, 234, 0.577);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--title-font);
}
p {
  font-size: 18px;
  font-family: var(--default-font);
  font-weight: 600;
  margin: 5px 10px;
}

.hero {
  text-align: center;
  padding: 120px 10px;
  line-height: 2;
}

.hero p {
  font-size: 18px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 20px;
  color: white;
  background-color: black;
  border-color: black;
  font-family: var(--default-font);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--brand-color);
  border-color: none;
}
.subHero {
  background-color: var(--back-color);
  padding: 80px;
}

.subHero h3 {
  font-family: var(--title-font);
  font-weight: bolder;
}
.portfolioHome h2 {
  font-family: var(--title-font);
  font-size: 40px;
  font-weight: bold;
  color: var(--brand-color);
}
.projectDescription {
  margin: 10px 30px;
}
.projectDescription h4 {
  font-family: var(--title-font);
}
.projectDescription h6 {
  font-family: var(--title-font);
  font-weight: 400;
}
.detailedPargraph {
  font-family: var(--default-font);
  font-weight: normal;
  margin: 0px;
}
.learnMore {
  text-decoration: underline;
  color: black;
  line-height: 4;
}
@media (max-width: 768px) {
  h1 {
    font-size: 65px;
  }

  img {
    max-width: 80px;
  }
  h3 {
    text-align: center;
  }
  .projectDescription {
    margin: 10px 5px;
  }
  .blogHome p {
    text-align: center;
  }
}
.blogHome {
  background-color: var(--back-color);
}
.blogHome h3 {
  font-family: var(--title-font);
  font-weight: bolder;
}
.blogHome p {
  font-size: 50px;
  margin-left: 0px;
  color: var(--brand-color);
}
.blogHome h5,
h6 {
  font-family: var(--title-font);
}
